<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Pagination Demo{% endblock %}</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
  </body>
</html>
