{% if pager.hasNext() %}
<div class="pagerNextButton">
  <a
    class="pagerButton"
    href="{{ pager.getLink() }}&page={{ pager.getCurrentPage() }}"
  >
    >
  </a>
  <a
    id="end"
    class="pagerButton"
    href="{{ pager.getLink() }}&page={{ pager.getEndPage() }}"
  >
    >>
  </a>
</div>
{% endif %}
