{% extends 'base.html.twig' %} {% block body %}
<h1>list</h1>
<div class="box">
  {% include "prev.html.twig" %}

  <ul class="pager">
    {% for i in range(start, end) %}
    <li class="pagerItem">
      <a href="{{ pager.getLink() }}&amp;page={{ i }}" 
      {% if pager.getCurrentPage() == i %}
      style="background-color:#4c80bb ;
      color: #fff;"
      {% endif %}
      >{{
        i
      }}</a>
    </li>
    {% endfor %}
  </ul>

  {% include "next.html.twig" %}
</div>

{% endblock %}
