{% if pager.hasPrev() %}
<div class="pagerPrevButton">
  <a
    class="pagerButton"
    href="{{ pager.getLink() }}&page={{ pager.getStartPAge() }}"
  >
    <<
  </a>
  <a
    class="pagerButton"
    href="{{ pager.getLink() }}&page={{ pager.getCurrentPage() - 1 }}"
    ><</a
  >
</div>
{% endif %}
