.box {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-areas: 'prev list next';
  width: 300px;
}
.pager {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-area: list;
}

.pagerItem {
  margin: 0 5px;
}

.pagerItem a {
  text-decoration: none;
  border-radius: 4px;
  padding: 5px;
  background-color: #dae7e7;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #666b72;
}

.pagerItem a:visited {
  background-color: #e2e6e6;
}

.pagerItem a:hover {
  background-color: #25a1a1;
}

.pagerButton {
  border-radius: 4px;
  padding: 5px;
  background-color: #e2e6e6;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #616872;
  margin: 0 5px;
}
.pagerPrevButton {
  grid-area: prev;
  text-align: right;
}
.pagerNextButton {
  grid-area: next;
}

.pagerPrevButton a:visited {
  background-color: #81dada;
}

.pagerPrevButton a:hover {
  background-color: #2f4949;
}

.pagerNextButton a:visited {
  background-color: #81dada;
}

.pagerNextButton a:hover {
  background-color: #2f4949;
}
